.level-bar{
    height: 16px; /* horizontal width */
    width: 16px; /* vertical width */
    border-radius: 8px;
    margin: 0;
}
.level-fill{
    border-radius: 8px;
    border: none;
    box-shadow: none;
}
.usage-level{ spacing: 16px; }
.usage-level StIcon{ icon-size: 22px; }
.usage-level StLabel{ width: 2.3em; }
/* .usage-level:red .level-fill{ background-color: #f66151; } */
/* .usage-level:orange .level-fill{ background-color: #ffa348; } */
/* .usage-level:yellow .level-fill{ background-color: #f8e45c; } */
/* .usage-level:green .level-fill{ background-color: #57e389; } */

/* battery-bar */
.battery-bar StIcon{ padding-top: 0; padding-bottom: 0; }

/* Dash Board */
#panel .dashboard StIcon{ padding-top: 0; padding-bottom: 0; }
.dashboard-content{ margin: 20px; }
.dashboard .events-button{ margin: 0; }
.dashboard .container{ spacing: 16px; }
.dashboard .user-box .text-box{ min-width: 120px; }
.dashboard .user-icon-button{ padding: 0; }
.dashboard .clock{ font-size: 2.4em; min-width: 3em; text-align: center; }
.dashboard .day{ text-align: center; }
.dashboard .date{ min-width: 6em; text-align: center; }
.dashboard .message-media-control{ padding: 8px; margin: 0;}
.dashboard .popup-menu-item{ padding: 8px; margin: 0;}
.dashboard .fade-from-bottom,
.dashboard .fade-from-top{ border: none; box-shadow: none; margin: 0; }
.dashboard .events-button.full{ padding: 0; }

/* date-menu-mod */
#panel .panel-button.clock-display{
    -natural-hpadding: 0;
    -minimum-hpadding: 0;
}
.datemenu-calendar-column{ padding-left: 0; padding-right: 0; } /* if notifications are hidden, make the column centered */
.datemenu-user{ padding: 30px;}
.datemenu-user > StButton{
    width: 160px;
    height: 160px;
    padding: 2px;
    border-radius: 99px;
    margin-bottom: 12px;
}
.datemenu-user > StButton > StWidget{ border-radius: 99px; }
.datemenu-levels{ spacing: 8px; }

/* notification-indicator */
.notification-indicator StIcon{
    padding: 0;
    margin: 0;
}
.notification-indicator > StBoxLayout{ spacing: 4px; }
.notifications-placeholder > StIcon{ icon-size: 68px; }
.notifications-placeholder { padding: 12px; }

/* media */
.panel-media-controls StIcon{ padding-top: 0; padding-bottom: 0; }
.media-player > StBoxLayout{ padding: 14px; spacing: 8px; }
.media-menu-box.full,
.media-menu-box.full .media-player > StBoxLayout{ padding: 0; }
.media-container .fade-from-top{
    background-color: rgba(0,0,0,0.01);
    background-gradient-direction: vertical;
    background-gradient-start: black;
    background-gradient-end: transparent;
    padding: 4px;
    padding-bottom: 18px;
}
.media-container .fade-from-bottom{
    background-color: rgba(0,0,0,0.01);
    background-gradient-direction: vertical;
    background-gradient-start: transparent;
    background-gradient-end: black;
    padding-top: 18px;
    padding-bottom: 4px;
}
.media-container .fill{ background-color: rgba(0,0,0,0.5); padding: 6px; }


.media-cover{ padding: 0; margin: 0; border: none; box-shadow: none; }
.media-container{ spacing: 8px; }
.media-controls .message-media-control{ padding: 6px; margin: 0; }
.media-controls .message-media-control StIcon{ icon-size: 24px; }
.media-controls .media-control-secondary StIcon,
.media-container .media-volume StIcon{ icon-size: 18px; }
.media-container .media-title-box{ padding-left: 6px; padding-right: 6px;}

/* power-menu */
.power-menu-panel-button StIcon{ padding-top: 0; padding-bottom: 0; }
.power-menu-panel-button:hover{ color: #f66151; }
.power-menu-panel-button:active{ color: #e01b24; }
.power-menu .button{ padding: 0; }

/* workspace-indicator */
.workspace-indicator StIcon{ margin: 0; }
.workspace-indicator StLabel{ margin: 0 8px; }
.workspace-indicator-active{ font-weight: 900; }
.workspace-indicator-inactive{ font-weight: 300; }

/* quick-settings */
.quick-settings.tweaked{
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0; margin: 0;
    spacing: 10px;
}
.quick-settings.tweaked .container{ spacing: 12px; }
.quick-settings.tweaked .system-actions .button{ min-width: 32px; }
.quick-settings.tweaked .system-actions .button StIcon{ icon-size: 24px; }
.quick-settings.tweaked .power-btn StIcon{ icon-size: 1.09em; }
.quick-settings.tweaked .power-btn .container{ spacing: 6px; }
.quick-settings.tweaked .small-toggle{ min-width: 1em; }
.quick-settings.tweaked .user-btn{ width: 66px; height: 66px; padding: 2px; }
.quick-settings.tweaked .message-list-clear-button{ padding-top: 4px; padding-bottom: 4px; }
.quick-settings.tweaked .media{ padding: 8px; /* border-radius: 21px; */ }
.quick-settings.tweaked .quick-container{ margin: 0; padding: 12px; }
.quick-settings.tweaked .quick-toggle-menu{ margin: 0; }
.quick-settings.tweaked .footer{ margin-left: 8px; margin-right: 8px; }

.quick-settings.adjusted .media,
.quick-settings.adjusted .button,
.quick-settings.adjusted .message{ border-radius: 21px; }
.quick-settings.adjusted .popup-menu-content{
    padding: 16px;
    border-radius: 36px;
}
.quick-settings.adjusted .message-list-controls{ padding: 0; margin-bottom: 12px; margin-left: 6px; }
.quick-settings.adjusted .message{ margin: 0; }
.quick-settings.adjusted .messages > StWidget > StWidget{ spacing: 12px; }